
/*-----------------------------------Book Now------------------------------------------*/
.visit-section{
    width:100%;
    min-height:100vh;
    padding:80px 8%;
    position:relative;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:center;
}
.visit-section::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.55);
}

.visit-heading,
.visit-top,
.visit-form{
    position:relative;
    z-index:2;
}
.visit-heading{
    text-align:center;
    margin-bottom:50px;
}

.visit-heading span{
    color:#00b7ff;
    font-weight:700;
    letter-spacing:2px;
}

.visit-heading h2{
    color:#fff;
    font-size:45px;
    margin:15px 0;
}

.visit-heading p{
    width:60%;
    margin:auto;
    color:#fff;
    line-height:30px;
}

.visit-top{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-bottom:50px;
}

.visit-box{
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.25);

    text-align:center;
    padding:20px;
    border-radius:15px;

    color:#fff;

    cursor:pointer;
    transition:.4s;
    font-size:40px;
}

.visit-box:hover{
    background:rgba(0,183,255,.35);
    transform:translateY(-10px);
}

.visit-box h4{
    color:#fff;
    font-size: 25px;
}

.visit-box p{
    color:#eee;
}
.visit-form{

    width:80%;
    margin:auto;

    background:rgba(0,0,0,.4);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.25);

    border-radius:20px;

    padding:40px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;

    box-shadow:0 10px 35px rgba(0,0,0,.4);
}

.visit-form input,
.visit-form select,
.visit-form textarea{

    background:rgba(255,255,255,.02);

    border:1px solid rgba(255,255,255,.35);

    color:#fff;

    padding:15px;

    border-radius:8px;

    outline:none;
}
.visit-form input::placeholder,
.visit-form textarea::placeholder{
    color:#ddd;
}

.visit-form select option{
    color:#000;
}

.visit-form textarea{
    grid-column:1/3;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
    resize:none;
}

.visit-form button{
    grid-column:1/3;
    padding:18px;
    border:none;
    background:#00b7ff;
    color:#fff;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.4s;
}

.visit-form button:hover{
    background:#0d6efd;
}

@media(max-width:992px){

.visit-top{
    grid-template-columns:repeat(2,1fr);
}

.visit-form{
    grid-template-columns:1fr;
}

.visit-form textarea,
.visit-form button{
    grid-column:auto;
}

}

@media(max-width:768px){

.visit-top{
    grid-template-columns:1fr;
}

.visit-heading h2{
    font-size:30px;
}

.visit-heading p{
    width:100%;
}

.visit-form{
    padding:25px;
}

}